<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  Team Name: <%= @team[:name]%>
  Coach: <%= @team[:coach]%>
  Point Guard: <%= @team[:pg] %>
  Power Forward: <%= @team[:pf] %>
  Shooting Guard: <%= @team[:sg] %>
  Small Forward: <%= @team[:sf] %>
  Center: <%= @team[:c] %>
 


 </body>
</html>


